# Manipulación y análisis de datos
pandas>=2.2.3
numpy>=2.1.0
watchdog==6.0.0

# Conexión a PostgreSQL
psycopg2-binary>=2.9.9
sqlalchemy>=2.0.30

# Lectura de XML
lxml>=5.2.1

# Variables de entorno (credenciales BD)
python-dotenv>=1.0.1

# Visualización
matplotlib>=3.8.4
seaborn>=0.13.2